.App {
  text-align: center;
  background: url('./img/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
}
.container {
  margin: 0 auto;
  width: 90%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}
p {
  text-align: left;
}
